.mg {
  margin: 100px 250px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-contact {
  direction: rtl;
}
.navbar-right {
  display: flex;
}
.navbar-a {
  margin-bottom: 15px;
}

.font {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: dashed 2px #cccccc;
}
.about-me {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
mark {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}
.aboutme-text-mb {
  margin-bottom: 10px;
}
.details {
  width: 25%;
}
.table {
  margin-top: 30px;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.navbar-a:hover .image {
  opacity: 0.3;
}

.hnm-router {
  margin-top: 10px;
}
.netflix-clone {
  color: gray;
  font-size: large;
}
